<h1>Portfolio</h1>

<table border="1">
<tr>
	<th>Stock Name</th>
	<th>Quantity</th>
	<th>Value</th>
</tr>
<% @inventory.each do |i| %>
<tr> 
	<td> <%= @stocks.find(i.stock_id).name %> </td>
	<td> <%= i.quantity %> </td>
	<td> tba </td>
	<td> <li><%= link_to "Buy/Sell" , add_trade_path %></li> </td>
</tr>

<% end %>
</table>


